.faq {
	@apply flex flex-col items-center;
	margin-top: 100px;
	.btns {
		@apply flex gap-5;
		margin-bottom: 100px;
	}
	.accordion {
		@apply w-full flex flex-col gap-6;
		margin: 50px 0 100px;
		&Item {
			@apply bg-secondaryColor;
			border-radius: 70px;
			&Header {
				font-size: 40px;
				line-height: 1;
				padding: 0 50px;
			}
			.open {
				border-radius: 70px;
			}
		}
		&Button {
			@apply flex items-center justify-center border border-dark text-dark mr-8;
			font-size: 15px;
			width: 50px;
			height: 50px;
			border-radius: 25px;
		}
		&Pannel {
			@apply block static z-0;
		}
	}
}
